body {
  font-family: 'Satoshi', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.is__container__img {
  img,
  svg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
