body {
  font-family: 'Satoshi', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  
  @media (min-width: 1100px) {
    padding: 0 50px;
  }

  @media (min-width: 1800px) {
    box-sizing: border-box;
    max-width: 1800px;
    width: 100%;
  }
}

.is__container__img {
  img,
  svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.is__article__content {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #9CA3AF;
}
